:root{
    --primary-color: hsl(1, 90%, 64%);
    --secondary-color: hsl(219, 85%, 26%);

    --tertiary-color: hsl(0, 0%, 100%);
    --tertiary-color-darker: hsl(210, 60%, 98%);

    --fouthary-color: hsl(219, 14%, 63%);
    --fouthary-color-light: hsl(211, 68%, 94%);
    --fouthary-color-lighter: hsl(205, 33%, 90%);
    --fouthary-color-darker: hsl(219, 12%, 42%);
    --fouthary-color-dark: hsl(224, 21%, 14%);

}

body{
    margin: 0;
    font-size: 1em;
    font-family: 'Plus Jakarta Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary-color-darker);
}

main{
    max-width: 40.5rem ;
    margin: .9375rem ;
}

img{
    width: 3.125rem;
    height: 3.125rem;
}

h2,h3,h4,h5{
    margin: 0;
    padding-right: .3125rem;
    display: inline;
    font-size: 1rem ;
}
.notification-card{
    display: flex;
    align-items: flex-start;
    margin: 2.125rem 0;
    justify-content: space-between;
    padding: .5rem;
}

.notification-avatar-texts-container{
    display: flex;
}

.notification-texts{
    padding-left: .9375rem ;
    line-height: 1.5;
}

.notification-texts span{
    display: block;
}

.notif-panel{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notif-panel div{
    display: flex;
    align-items: center;
}

.number-of-new-notifications{
    background-color: var(--secondary-color);
    padding: .3125rem .625rem;
    border-radius: .3125rem ;
    color: var(--tertiary-color);
    margin: 0 .3125rem;
}

.mark-all-as-read{
    color: var(--fouthary-color-darker);
}

.author-name{
    color: var(--fouthary-color-dark);
}

.notif-action{
    color: var(--fouthary-color)
}

.notif-post{
    color: var(--fouthary-color-darker);
}

.notif-club{
    color: var(--fouthary-color-darker);
}

.notif-timestamp{
    color: var(--fouthary-color);
}

.notif-message{
    color: var(--fouthary-color-darker);
    padding: .9375rem ;
    border: 1px solid var(--fouthary-color-lighter);
    border-radius: .3125rem ;
}

.pic:hover{
    cursor: pointer;
}

a{
    text-decoration: none;
    padding-right:  .3125rem;
    font-weight: 800;
}

a:hover{
    color: var(--secondary-color);
}

.is-new{
    border-radius: .9375rem ;
    background-color: var(--fouthary-color-light);
}

.new-indicator{
    background-color: var(--primary-color);
    border-radius: 50%;
    width: .625rem;
    height: .625rem;
    display: inline-flex;
}

@media screen and (min-width: 48rem){
    main{
        background-color: var(--tertiary-color);
        border-radius: 1.5625rem ;
        padding: 1.5625rem ;
    }
}
